/**
    Name: IntelliJ IDEA darcula theme
    From IntelliJ IDEA by JetBrains
 */
.graphiql-container .resultWrap { border-left-color: #313335 !important; }
.graphiql-container .editorWrap .topBar { background: #313335; border-color: #313335; }
.graphiql-container .editorWrap .topBar .execute-button { background: #313335; box-shadow: none; border: none; }
.graphiql-container .editorWrap .topBar .execute-button svg { fill: #9C9E9E; }
.graphiql-container .editorWrap .topBarWrap { box-shadow: 0 3px 6px rgba(0,0,0,0.4); z-index: 15;}
.graphiql-container .editorWrap .topBarWrap .docExplorerShow { background: #313335; border-color: #313335; color: rgb(56, 148, 218); }
.graphiql-container .editorWrap .topBarWrap .docExplorerShow:before{ border-color: rgb(56, 148, 218); }

.graphiql-container .editorWrap .toolbar .toolbar-button { background: #313335; box-shadow: 0 3px 5px rgba(255,255,255,0.4); border: none; color: #9C9E9E; }

.graphiql-container .editorWrap .editorBar .variable-editor .variable-editor-title { background: #313335; border-color: #313335; }

.graphiql-container .cm-s-darcula  { font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif !important;}
.graphiql-container .cm-s-darcula.CodeMirror { background: #2B2B2B !important; color: #A9B7C6 !important; } 

.graphiql-container .cm-s-darcula span.cm-meta { color: #BBB529 !important; }
.graphiql-container .cm-s-darcula span.cm-number { color: #6897BB !important; }
.graphiql-container .cm-s-darcula span.cm-keyword { color: #CC7832 !important; line-height: 1em !important; font-weight: bold !important; }  
.graphiql-container .cm-s-darcula span.cm-def { color: #A9B7C6 !important; font-style: italic !important; }
.graphiql-container .cm-s-darcula span.cm-variable { color: #A9B7C6 !important; }
.graphiql-container .cm-s-darcula span.cm-variable-2 { color: #A9B7C6 !important; }
.graphiql-container .cm-s-darcula span.cm-variable-3 { color: #9876AA !important; }
.graphiql-container .cm-s-darcula span.cm-type { color: #AABBCC !important; font-weight: bold !important; }
.graphiql-container .cm-s-darcula span.cm-property { color: #FFC66D !important; }
.graphiql-container .cm-s-darcula span.cm-operator { color: #A9B7C6 !important; }
.graphiql-container .cm-s-darcula span.cm-string { color: #6A8759 !important; }
.graphiql-container .cm-s-darcula span.cm-string-2 { color: #6A8759 !important; }
.graphiql-container .cm-s-darcula span.cm-comment { color: #61A151 !important; font-style: italic !important; } 
.graphiql-container .cm-s-darcula span.cm-link { color: #CC7832 !important; }
.graphiql-container .cm-s-darcula span.cm-atom { color: #CC7832 !important; }
.graphiql-container .cm-s-darcula span.cm-error { color: #BC3F3C !important; }
.graphiql-container .cm-s-darcula span.cm-tag { color: #629755 !important; font-weight: bold !important; font-style: italic !important; text-decoration: underline !important; }
.graphiql-container .cm-s-darcula span.cm-attribute { color: #6897bb !important; }
.graphiql-container .cm-s-darcula span.cm-qualifier { color: #6A8759 !important; }
.graphiql-container .cm-s-darcula span.cm-bracket { color: #A9B7C6 !important; }
.graphiql-container .cm-s-darcula span.cm-builtin { color: #FF9E59 !important; }
.graphiql-container .cm-s-darcula span.cm-special { color: #FF9E59 !important; }
.graphiql-container .cm-s-darcula span.cm-punctuation { color: rgb(173, 182, 192) !important; }

.graphiql-container .cm-s-darcula .CodeMirror-cursor { border-left: 1px solid #A9B7C6 !important; }  
.graphiql-container .cm-s-darcula .CodeMirror-activeline-background { background: #323232 !important; } 
.graphiql-container .cm-s-darcula .CodeMirror-gutters { background: #313335 !important; border-right: 1px solid #313335 !important; } 
.graphiql-container .cm-s-darcula .CodeMirror-guttermarker { color: #FFEE80 !important; }  
.graphiql-container .cm-s-darcula .CodeMirror-guttermarker-subtle { color: #D0D0D0 !important; }  
.graphiql-container .cm-s-darcula .CodeMirrir-linenumber { color: #606366 !important; } 
.graphiql-container .cm-s-darcula .CodeMirror-matchingbracket { background-color: #3B514D !important; color: #FFEF28  !important; font-weight: bold !important; } 

.graphiql-container .cm-s-darcula div.CodeMirror-selected { background: #214283 !important; }  

.CodeMirror-hints.darcula {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace !important;
  color: #9C9E9E !important;
  background-color: #3B3E3F  !important;
}

.CodeMirror .CodeMirror-hints.darcula .CodeMirror-hint-active {
  background-color: #494D4E  !important;
  color: #9C9E9E  !important;
}
/* .CodeMirror .CodeMirror-code > div, .CodeMirror .CodeMirror-code > pre { padding-left: 5px; } */